:root{
  --secondarycolor:#86A2B3;
  --primarycolor:#E0E0E1;
  --fontcolor:#978897; 
  --white: #FFFFFF;
  --hover: #2E5266;
  --grey: #323232;
  --onyxblack: #35393C; 
  --button: #42858C; 
  --background:#E9FDFC;
  --navbackground:#35393C; 
  --navitemcolor: #E0E0E1;
  --redditorange:  #FF5700;
}


@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
* { 
  box-sizing:border-box; 
  margin:0;
  padding:0; 
}

body {
  /* font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  /* font-family:"Open Sans",sans-serif; */
  /* font-family: 'Inconsolata', monospace;   */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #393D3F;
  margin: 0px;
  padding: 0px;
  font-family: "Concert One", sans-serif;
}


